<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a id="logotype" href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}"/>Recetas</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('homepage') }}">Home</a></li>
            <li><a href="{{ path('user_list') }}">Usuarios</a></li>
            <li><a href="{{ path('recipe_list') }}">Recetas</a></li>
        </ul>
    </div>
</nav>